@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  max-width: 70%;
}

section {
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 15px;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.name {
  text-align: center;
}


.introduction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.profile-photo {
  max-width: 250px;
  margin-left: 20px;
  margin-right: 10px;
  order: 2;
}

.bio {
  flex: 1;
  order: 1;
}

.paper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.paper-media {
  width: 100%;
  max-width: 250px;
  padding: 10px;
}

.paper-video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.paper-content {
  flex: 1;
  padding: 10px;
}

.paper-title {
  margin: 0;
}

.paper-authors {
  margin: 0;
}

.paper-details {
  margin: 0;
}

.paper-award {
  margin: 0;
  color: red;
}

.paper-links a {
  color: #1a0dab;
  text-decoration: none;
}

.paper-description {
  margin: 5px 0;
}

footer {
  text-align: center;
  font-size: small;
}


@media screen and (max-width: 768px) {
  body {
    padding: 10px;
    max-width: 100%;
  }

  section {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  .introduction {
    flex-direction: column;
  }

  .profile-photo {
    max-width: 60%;
    margin: 0;
    order: 2;
  }

  .bio {
    order: 1;
  }

  .paper {
    flex-direction: column;
  }

  .paper-media {
    max-width: 60%;
    margin: 0;
  }

  .paper-title {
    margin: 0;
  }

  .paper-info {
    font-size: 16px;
  }

  .paper-links a {
    font-size: 16px;
  }
}